$background_white: rgb(203, 0, 0);
$background_gray_white: rgb(239, 239, 239);
$color_basic: black;
$color_white: white;
$color_blue: rgb(17, 116, 208);

@mixin border-radius-all($px) {
    border-radius: $px;
}

@mixin box-shadow-small($size, $color) {
    box-shadow: 0px 0px $size $color;
}

@mixin all-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin grid-row-group {
    display: grid;
    grid-template-rows: 50% 50%;
}

@mixin left-flex-center {
    display: flex;
    justify-content: left;
    align-items: center;
}
@mixin text-font($size, $weight, $color) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
}
@mixin svg-ico($width,$color){
    width: $width;
    color: $color;
}
.all-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-flex-center {
    display: flex;
    justify-content: left;
    align-items: center;
}

input[type=text]{
    padding-left: 10px;
}
input[type=date]{
    padding-left: 10px;
}
input[type=time]{
    padding-left: 10px;
}
.input {
    width: 100%;
    height: 40px;
    border: none;
    color: black;
    border-radius: 5px;
    padding-left: 0px;
    font-size: 15px;
    font-weight: 800;
    font-family: exo;
}

.all-flex-center {
    @include all-flex-center();

}
.left-flex-center {
   @include left-flex-center();
}


body {
    background: white;
    font-family: exo;
    padding-top: 120px;
}

@mixin grid-col-auto {
    display: grid;
    grid-template-columns: auto;
}

.list {
    @include grid-col-auto();
    grid-gap: 10px;

    .list-item {
        color: $color_basic;
        width: auto;
        height: 45px;
        padding: 10px;
        @include border-radius-all(5px);
        display: grid;
        grid-template-columns: 50px auto 80px 80px;
        border-bottom: 10px solid $color_blue;
        box-shadow: 0px 0px 10px black;
        transition: 0.5s;
        font-weight: 800;
        grid-column-gap: 20px;
        font-size: 15px;



    }

    .list-item:hover {
        background: rgb(240, 240, 240);
    }



}
.list-item-date{
    @include svg-ico(30px, $color_blue)

}
.list-item-date-card{
    display: none;
    grid-template-rows: 50% 50%;
    position: absolute;
    height: 100px;
    width: 300px;
    background: $color_white;
    right: 10px;
    margin-top: 50px;
}

.list-item-date:hover .list-item-date-card{
    display: grid;
}

.check-ico {
    width: 30px;
    color: $color_blue;
    @include border-radius-all(30px);
    padding: 2px;
    margin-top: -2px;
    transition: 0.5s;
    border: 3px solid $color_blue;


}

.check-ico:hover {
    background: $color_blue;
    color: $color_white;
    cursor: pointer;
}

.date {
    display: grid;
    grid-template-columns: 20px auto 20px auto;
}

.date-ico {
    width: 20px;
    color: $color_blue;
}

.add-panel-input-ico{
    @include svg-ico(30px, $color_white);
}

.add-panel {
    display: grid;
    position: fixed;
    width: 400px;
    height: 100%;
    top: 0;
    left: 0;
    margin-left: -450px;
    background: rgb(17, 116, 208);
    padding: 20px;
    padding-top: 100px;
    z-index: 7;
    grid-template-rows: repeat(3, 60px) auto 100px 100px;
    box-shadow: 0px 0px 5px black;
    grid-column-gap: 10px;
    transition: 1s;
}
@media only screen and (max-width: 420px) {
    .add-panel {
        width: auto;
    }
}
.add-panel-input-group{
    display: grid;
    grid-template-columns: 40px auto;
    grid-gap: 10px;
    width: 100%;
    @include text-font(15px, 800, $color_white)
}
.add-panel-datetime{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
}
.open-panel-btn {
    width: 100%;
    height: 40px;
    background: rgb(248, 248, 248);
    padding: 1px;
    border-radius: 10px;
    color: white;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px black;

}

.add-panel-out {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    display: none;
}

.add-panel-btn {
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: $color_blue;
    padding: 5px;
    z-index: 3;
    border-radius: 100px;
    color: $color_white;
    border: none;
    outline: none;

}
.add-panel-btn:hover{
    cursor: pointer;
}

.show-panel-btn-ico {
    color: $color_blue;
    width: 30px;
    transition: 0.3s;
}


.add-panel-btn-ico {
    color: $color_white;
    width: 50px;
    transition: 0.3s;
}

.add-panel-btn:hover .add-panel-btn-ico {
    transform: scale(1.1);
    cursor: pointer;
}

.top-panel {
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    background: rgb(17, 116, 208);
    padding: 10px;
    display: grid;
    z-index: 5;
    grid-template-columns: 70px auto;
    color: $color_white;
    font-weight: 800;
    font-size: 25px;
    box-shadow: 0px 0px 10px black;
}

.top-panel-ico{
    @include svg-ico(50px, $color_white)
}

.empty-list {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    @include all-flex-center();
}

.empty-list-ico {

    @include svg-ico(100px, rgb(214, 214, 214));

}

.card {
    width: 100%;
    height: 300px;
    background: white;
    border-top: 5px solid $color_blue;
    position: fixed;
    bottom: -300px;
    left: 0;
    display: grid;
    grid-template-rows: 60px auto;
    transition: 1s;

}

.card-head {
    display: grid;
    grid-template-columns: 60px auto 80px;
}
.start-app{
    @include all-flex-center();
    background: $color_blue;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    animation: 4s welcomeOnPage forwards;
}
.start-app-ico{
    width: 140px;
    color: $color_white;
    animation: 4s welcomeOnPageLogo forwards;

}
@keyframes welcomeOnPageLogo {
    0%{
       opacity: 0;
       transform: scale(1);
    }
    20%{
        opacity: 1;
    }
    40%{
        transform: scale(1.3);
    }

    80%{
        opacity: 1;
    }

    100%{
        opacity: 0;
        transform: scale(1.3);
    }
}
@keyframes welcomeOnPage {
    0%{
        opacity: 1;
        z-index: 4;
    }
    80%{
        opacity: 1;
        z-index: 4;
    }

    100%{
        opacity: 0;
        z-index: -2;
    }
}